__pycache__/
.idea/
.env
typings/

*.sqlite3

media/
media-temp/
external-media/

pyrightconfig.json

static/
schema.json

typings/

pyrightconfig.json
response.json

*.bak
*.swp
secrets.yml
celerybeat-schedule

*.log

# testing
/coverage
.coverage
coverage.xml
htmlcov
sitecus