Django==3.0.5
django-cors-headers==3.4.0
django-debug-toolbar==2.2
django-enumfield==2.0.1
django-extensions==3.0.4
django-filter==2.3.0
# required by djoser
django-rest-framework==0.1.0
djoser==2.0.3
factory-boy==3.0.1
graphene-django-extras==0.4.9
graphene-django>=2.0
graphene-file-upload==1.2.2
graphene-graphiql-explorer==0.0.1
ipython
mock==4.0.2
psycopg2==2.8
pytest-django==3.9.0
pytest-sugar==0.9.4
six==1.15
