# Distribution / packaging
*.pyc
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
node_modules/
serverless_sdk/

# deploy time created files
s_*

# custom downloaded binaries
binary/

# custom files
response.json
